{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" id="insight.jumbotron.title">Argos IRIS Insights</h1>
                <p class="lead" id="insight.jumbotron.lead">
                    This page contains all the information about the inner workings of Argos IRIS, as well as metrics
                    calculated on the model.
                    <br>
                    The data on this page is constantly updated with the latest metrics, because the model is constantly
                    adapting to new data.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <div class="col-12">
            <h3 id="insight.accuracy-and-loss.intro.title">Accuracy and Loss</h3>
            <p id="insight.accuracy-and-loss.intro.lead">
                Below you will find the metrics for the accuracy and loss of the current model during the training
                process.
                <br>
                The lines labled 'training accuracy' and 'training loss' contain the metrict during the actual process
                with data that the model has 'seen' before.
                <br>
                The lines labled 'validation accuracy' and 'validation loss' show how the model preformed in predicting
                data that was never seen before.
                <br>
                Ideally, the validation line should closely follow the training line.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title" id="insight.accuracy-and-loss.accuracy.title">Accuracy</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.accuracy-and-loss.accuracy.subtitle">Higher is
                        better, in percentage</h6>
                    <br>
                    <div class="text-center">
                        <canvas id="accuracy-chart"></canvas>
                    </div>
                    <hr>
                    <p class="card-text" id="insight.accuracy-and-loss.accuracy.explanation">
                        The accuracy of a model is usually determined after the model parameters are learned and fixed
                        and no learning is taking place. Then the test samples are fed to the model and the number of
                        mistakes (zero-one loss) the model makes are recorded, after comparison to the true targets.
                        Then the percentage of misclassification is calculated.
                        <br>
                        For example, if the number of test samples is 1000 and model classifies 952 of those correctly,
                        then the model's accuracy is 95.2%.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title" id="insight.accuracy-and-loss.loss.title">Loss</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.accuracy-and-loss.loss.subtitle">Lower is
                        better</h6>
                    <br>
                    <div class="text-center">
                        <canvas id="loss-chart"></canvas>
                    </div>
                    <hr>
                    <p class="card-text" id="insight.accuracy-and-loss.loss.explanation">
                        Loss value implies how well or poorly a certain model behaves after each iteration of
                        optimization. Ideally, one would expect the reduction of loss after each, or several,
                        iteration(s).
                        <br>
                        Loss is often used in the training process to find the "best" parameter values for your model
                        (e.g. weights in neural network). It is what you try to optimize in the training by updating
                        weights.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3 id="insight.classification-report.intro.title">Classification Report</h3>
            <p id="insight.classification-report.intro.lead">
                When a training process is finished a report is generated to validate the precision of the model.
                <br>
                This report is generated by running 10402 images the model has never seen before by it. The model then
                gives it's prediction, the outcome of this, matched with the actual label of the respective images, is
                fed into several mathematical functions returning the metrics below.
            </p>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="insight.classification-report.support.title">Support</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.classification-report.support.subtitle">How
                        many images exist inside each category of the test set</h6>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="support-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="insight.classification-report.precision.title">Per class precision</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.classification-report.precision.subtitle">in
                        percentages</h6>
                    <br>
                    <div class="text-center">
                        <canvas id="precision-chart"></canvas>
                    </div>
                    <hr>
                    <p class="card-text" id="insight.classification-report.precision.explanation">
                        Precision – Accuracy of positive predictions.
                        <br>
                        The precision is being calculated with the following formula:
                    </p>
                    <div class="text-center">
                        <h5 id="insight.classification-report.precision.formula">Precision = True Positives / (True
                            Positives + False Positives)</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="insight.classification-report.recall.title">Per class recal score</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.classification-report.recall.subtitle">in
                        percentages</h6>
                    <br>
                    <div class="text-center">
                        <canvas id="recall-chart"></canvas>
                    </div>
                    <hr>
                    <p class="card-text" id="insight.classification-report.recall.explanation">
                        Recall (sensitivity or true positive rate) – Fraction of positives That were correctly
                        identified.
                        <br>
                        The Recall Score is being calculated with the following formula:
                    </p>
                    <div class="text-center">
                        <h5 id="insight.classification-report.recall.formula">Precision = True Positives / (True
                            Positives + False Negatives)</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="insight.classification-report.f1.title">Per class F1 score</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.classification-report.f1.subtitle">in
                        percentages</h6>
                    <br>
                    <div class="text-center">
                        <canvas id="f-chart"></canvas>
                    </div>
                    <hr>
                    <p class="card-text" id="insight.classification-report.f1.explanation">
                        F1 Score (F-Score or F-Measure) – A metric for comparing two classifiers. F1 Score
                        takes into account precision and the recall. It is created by finding the the harmonic mean of
                        precision and recall.
                        <br>
                        The F1 Score is being calculated with the following formula:
                    </p>
                    <div class="text-center">
                        <h5 id="insight.classification-report.f1.formula">F1 = 2 x (precision x recall)/(precision +
                            recall)</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3 id="insight.confusion-matrix.intro.title">Confusion Matrix</h3>
            <p id="insight.confusion-matrix.intro.lead">
                When a training process is finished a confusion matrix is generated to give a better insight in the
                precision of the model.
                <br>
                The confusion matrix shows how often certain classes are predicted and how images are misclassified.
                Ideally a digagonal 'line' should be discernable in the confusion matrix.
            </p>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="insight.confusion-matrix.table.title">Confusion Matrix</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="insight.confusion-matrix.table.subtitle">
                        A matrix, labeled by class
                    </h6>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table" id="confusion-matrix">
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/insight.js') }}"></script>
{% endblock %}